header{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}
.obrazek{
    width: 200px;
    height: 100%;
}
.obrazek img{
    width: 100%;
    height: 100%;
}
.menu{
    margin-left: 10px;
}