*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
.own-container{
    width: 100%;
    height: 100%;
}
.own-container > .dashes{
    padding: 50px 0 50px 0;
}
.dashes ul{
    display: flex;
    justify-content: center;
}
.dashes ul li{
    list-style: none;
    margin: 10px 10px 10px 10px;
    font-size: 5rem;
    font-weight: 700;
}
.buttons{
    margin: 150px 20% 0 20%;
}
.buttons > button{
    margin: 5px;
    width: 70px;
    height: 70px;
    font-size: 2rem;
    background-color: white;
    color: black;
}
.buttons > button:hover{
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3);
}